@font-face {
    font-family: 'IBM Plex Mono';
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
}

body {
    background-color: #202020;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2vh;
    color: #f2f2f2;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10;
}

a {
    color: #00afff;
}

#header {
    color: #f2f2f2;
    width: 80%;
    text-align: left;
    text-transform: lowercase;
}

#contact-info, #education, #skills, #work-experience, #personal-projects {
    color: #f2f2f2;
    width: 90%;
    white-space: normal;
    padding: 1vh;
    text-align: left;
    text-transform: lowercase;
}

.work-experience-item, .personal-project-item {
    width: 80%;
    color: #f2f2f2;
    padding: 0.1vh;
    text-transform:none;
}

#contact-info li, #education li, #skills li, #work-experience li, #personal-projects li {
    text-align: left;
    padding: 0.1vh;
    list-style-position: inside;
}