*
{
    font-family: 'Roboto Mono', monospace;
}

body
{
    background: rgb(179,233,199);
    background: linear-gradient(180deg, rgba(179,233,199,1) 0%, rgba(46,46,58,1) 51%);
}

.footer_all
{
  position: absolute;
  margin: 0 auto;
  margin-top: -10px;
  margin-left: -125px;
  top: 90%;
  left: 50%;
  padding: 0 10px;
  text-align: center;
  height: 20px;
  width: 250px;
}